.git
.gitignore
.gitattributes
.venv
__pycache__
*.py[cod]
*$py.class
.DS_Store
Thumbs.db
.vscode
.idea
.pytest_cache
.mypy_cache
.ruff_cache
.ipynb_checkpoints
build
dist
*.egg-info
.env
.streamlit/secrets.toml
requirementsbk.txt
*.ipynb
